body {
    background-image: url("img/background.png");
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #36343A;
}
.header {
    width: 100%;
    background-color: #54C5D1;
    border-bottom: 3px solid #E5E5E5;
    margin: 0;
}
.logo {
    width: 600px;
    height: 220px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
}
.monitorLogo {
    height: 200px;
    float: left;
    padding: 10px;
}
.title {
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
    padding-top: 60px;
    font-weight: 700;
    line-height: 100%;
}
ol.menu {
    width: 1555px;
    margin-left: auto; /* here is to move the menu */
    margin-right: auto;
    margin-bottom: 50px;
    padding: 0;
}
ol.menu::after {
    content: "";
    display: table;
    clear: both;
}
ol > li.menu_list {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}
ol > li.menu_list > ul {
    font-size: 22px;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
    padding: 0;
    margin-top: 5px;
    list-style-type: none;
}
a.link {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #33BDC9;
}
.container {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 876px;
    padding: 10px;
    border-left: 2px solid #E5E5E5;
    border-right: 2px solid #E5E5E5;
    border-top: 2px solid #E5E5E5;
}
.slide {
    padding: 40px;
    text-align: justify;
}
.slide:after {
    content: "";
    display: table;
    clear: both;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 30px 0;
}
.slide11_text {
    margin-bottom: 30px;
}
.slide11_img {
    float: left;
    padding: 0 20px;
}
.slide11_list {
    float:left;
    width:290px;
    text-align:left;
    padding: 20px 20px 0 20px;
}
ol > li.slide11_li {
    margin-bottom: 20px;
}