body {
    background-image: url("img/background.png");
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #36343A;
}
.header {
    width: 100%;
    background-color: #54C5D1;
    border-bottom: 3px solid #E5E5E5;
    margin: 0;
}
.logo {
    width: 600px;
    height: 220px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
}
.monitorLogo {
    height: 200px;
    float: left;
    padding: 10px;
}
.title {
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
    padding-top: 60px;
    font-weight: 700;
    line-height: 100%;
}
ol.menu {
    width: 1555px;
    margin-left: auto; /* here is to move the menu */
    margin-right: auto;
    margin-bottom: 50px;
    padding: 0;
}
ol.menu:after {
    content: "";
    display: table;
    clear: both;
}
ol > li.menu_list {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}
ol > li.menu_list > ul {
    font-size: 22px;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
    padding: 0;
    margin-top: 5px;
    list-style-type: none;
}
a.link {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #33BDC9;
}
.container {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 880px;
    padding: 10px;
    border-left: 2px solid #E5E5E5;
    border-right: 2px solid #E5E5E5;
    border-top: 2px solid #E5E5E5;
}
.slide {
    padding: 40px;
    text-align: justify;
}
.slide:after {
    content: "";
    display: table;
    clear: both;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 20px 0;
}
.text {
    margin: 20px 0 0 0;
}
.slide11_img {
    float: left;
    margin: 30px 20px 0 20px;
}
.slide11_list {
    float:left;
    width:295px;
    text-align:left;
    margin: 30px 20px 0 20px;
}
ol > li {
    margin-bottom: 20px;
}
.frame {
    margin-top: 20px;
    width:790px;
    background-color:#54C5D1;
    padding: 5px;
    font-weight:700;
}
.subframe {
    width:790px;
    background-color:#dedede;
    padding:5px;
}
.img {
    width: 780px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}
.slide13_img {
    width:200px;
    height: 200px;
    padding: 0 30px 0 30px;
    float:left;
    text-align:center;
    font-size:14px;
}
.big_frame {
    width: 795px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.big_frame:after {
    content: "";
    display: table;
    clear: both;
}
.float_frame {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.slide13_frame {
    text-align: center;
    width:235px;
    height: 50px;
    background-color: #54C5D1;
    padding: 5px;
    font-weight:700;
}
.slide13_frame p {
    margin: 13px 0 0 0;
}
.slide13_frame p.p_frame {
    margin: 1px 0 0 0;
}
.slide13_subframe {
    text-align: left;
    width:235px;
    background-color:#dedede;
    padding:5px;
}
.plus_frame {
    margin-top: 20px;
    width: 790px;
    background-color: darkgreen;
    padding: 5px;
    font-weight: 700;
    color: #fff;
}
.minus_frame {
    margin-top: 20px;
    width:790px;
    background-color: darkred;
    padding:5px;
    font-weight:700;
    color:#fff;
}
.slide21_img {
    float:left;
    height: 372px;
    margin: 30px 20px 0 52px;
}
.slide21_list {
    padding-top: 30px;
    font-size: 22px;
    float:left;
    width:280px;
    text-align:left;
    margin: 30px 52px 0 20px;
}
.slide23_frame {
    background-color: #54C5D1;
    margin: 20px 0 0 0;
    width: 100%;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
}
.frame_text {
    padding-top: 4px;
}
.slide23_segment {
    content: "";
    display: table;
    clear: both;
    width: 770px;
    margin: 20px auto 0 auto;
}
.slide23_img {
    float:left;
    margin: 0 27px 0 0;
}
.slide23_text1 {
    float:left;
    width:330px;
    text-align:left;
    margin: 0;
}
.slide23_text2-3 {
    float:left;
    width:410px;
    text-align:left;
    margin: 0;
}
.slide31_img {
    content: "";
    display: table;
    clear: both;
    margin: 20px auto 0 auto;
}
.slide31_img1 {
    float:left;
    width:271px;
    height: 186px;
    text-align: center;
    margin: 22px 50px 22px 22px;
}
.slide31_img2 {
    float:left;
    width:230px;
    height: 230px;
    text-align:left;
    margin: 0 22px 0 50px;
}
.slide32_IMG {
    content: "";
    display: table;
    clear: both;
    margin: 20px 0 0 0;
}
.slide32_img1 {
    float:left;
    text-align: center;
    margin: 6px 25px 6px 0;
}
.slide32_img2 {
    float:left;
    text-align:left;
    margin: 11px 0 11px 25px;
}
.slide33_IMG {
    content: "";
    display: table;
    clear: both;
    margin: 20px auto 0 auto;
}
.slide33_img1 {
    float:left;
}
.slide33_img2 {
    float:left;
    padding-left:50px;
}
.slide33_IMG2 {
    content: "";
    display: table;
    clear: both;
    margin: 20px auto 0 auto;
}
.slide33_img3 {
    float: left;
}
.slide33_img4 {
    float: left;
}
