body {
    background-image: url("img/background.png");
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.header {
    width: 100%;
    background-color: #54C5D1;
}
.logo {
    width: 600px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
}
.monitorLogo {
    float: left;
    padding: 0 10px;
}
.title {
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
    color: #36343A;
    padding-top: 70px;
    font-weight: 700;
    line-height: 100%;
}